body{
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  font-variation-settings: 100;
  margin: 0;
}

/* main div */
.container{
    /* border: 1px solid red; */
    display:flex;
    background: linear-gradient(90deg,#75b1fc,#b0d0f5,#75b1fc);
    justify-content: center;
    align-items: center;
    /* background-color: yellow; */
    height: 100vh;
}

/* login section */
.card{
    background-color: #e3f1fc;
    border-radius: 0.75rem;
    /* border: solid 1px green; */
    padding: 0.125rem 0.625rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25vw;
    height: 48vh;
}

#form-head{
    font-size: 1.75rem;
}
.form-div{
    display:flex;
    flex-direction: column;
}
.input-box{
    border-radius: 0.25rem;
    border: none;
    margin-top: 0.5rem;
    height: 2rem;
    width: 15rem;
    font-family: "Noto Sans", sans-serif;
    font-size: 1rem;
    padding: 0.35rem;
}


/* hover effect section */
.input-box:hover{
    border: solid 1px #2081f7;
}

#form-submit{
    border-radius: 0.27rem;
    border: none;
    background: #81b2ee;
    width: 6rem;
    height: 2rem;
    color: #02295a;
    font-weight: bold;
    font-size: 1rem;
}

.form-anchor{
    color: #ffffff;
    text-decoration: none;
}
.form-anchor:hover{
    color: #036ff3;
}

label {
    font-size: 1.2rem;
}


.btn-sec {
    display: flex;
    justify-content: center;
}